﻿<%@ Page Title="" Language="C#" MasterPageFile="~/nestedadmin.master" AutoEventWireup="true" CodeBehind="adminpage.aspx.cs" Inherits="project1.adminpage" %>
<asp:Content ID="Content1" ContentPlaceHolderID="e" runat="server">
</asp:Content>
