﻿<%@ Page Title="" Language="C#" MasterPageFile="~/nestedadmin.master" AutoEventWireup="true" CodeBehind="branch.aspx.cs" Inherits="project1.branch1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="e" runat="server">
     <div style="background-color:#6b5c5c;">
        <center>
            <asp:Label ID="pubhead" runat="server" Text="ADD NEW BRANCH" Font-Bold="True" Font-Size="Large" ForeColor="#FFFFCC"></asp:Label>

        </center>
    </div>
   <div>

       <br />
       <br />
       
       <table >
           <tr>
               <td  style="width: 507px">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <asp:Label ID="Label2" runat="server" Font-Bold="True" Text="BRANCH ID:"></asp:Label>
                </td>
               <td style="width: 489px">
                   <asp:TextBox ID="bchid" runat="server" Width="120px"  ></asp:TextBox>
                                      <asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server" ErrorMessage="feild isempty" ControlToValidate="bchid" ForeColor="Red" Enabled="false"  ></asp:RequiredFieldValidator>

               </td>
           </tr>
           <tr>
               <td  style="width: 507px">
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   <asp:Label ID="Label3" runat="server" Font-Bold="True" Text="BRANCH NAME:"></asp:Label>
               </td>
               <td style="width: 489px">
                   <asp:TextBox ID="bchname" runat="server"></asp:TextBox>
                                      <asp:RequiredFieldValidator ID="RequiredFieldValidator2" runat="server" ErrorMessage="feild isempty" ControlToValidate="bchname" ForeColor="Red" Enabled="false"></asp:RequiredFieldValidator>

               </td>
           </tr>
           <tr>
               <td colspan="2">
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   <br />
&nbsp;&nbsp;
<center><asp:Button ID="Buttonpub" runat="server" Text="ADD BRANCH" OnClick="Buttonpub_Click"></asp:Button>&nbsp;&nbsp;&nbsp;&nbsp;
    <asp:Button ID="Button11" runat="server" OnClick="Button11_Click" Text="VIEW BRANCHES" />
                   </center>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <center> <asp:GridView ID="GridView1" runat="server">
                   </asp:GridView></center>
                   <br />
                   <br />
                  
               </td>
           </tr>
       </table>
</asp:Content>
