﻿<%@ Page Title="" Language="C#" MasterPageFile="~/STUDENTNESTED.master" AutoEventWireup="true" CodeBehind="changepwd.aspx.cs" Inherits="project1.changepwd" %>
<asp:Content ID="Content1" ContentPlaceHolderID="G" runat="server">
     <div style="background-color:#6b5c5c;">
       
    <center>
            <asp:Label ID="bookhead" runat="server" Text="CHANGE PASSWORD" Font-Bold="True" Font-Size="Large" ForeColor="#FFFFCC"></asp:Label>

        </center>
        </div>
    <br />
    <div>
        <table>
            <tr>
                    <td>
                        <asp:Label ID="pass" runat="server" Text=" Old Password:"></asp:Label>
                    </td>
                    <td>
                        <asp:TextBox ID="Textpass" runat="server"></asp:TextBox>
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <asp:Label ID="Label12" runat="server" Text="New Password"></asp:Label>
                    </td>
                    <td>
                        <asp:TextBox ID="Textconpass" runat="server"></asp:TextBox>
                    </td>
                </tr>
            <tr>
                <td colspan="2">
                    <br />
                    <asp:Button ID="Button1" runat="server" Text="CHNGE" OnClick="Button1_Click" />
                    <asp:Literal ID="Literal1" runat="server"></asp:Literal>
                </td>
            </tr>
        </table>
    </div>
</asp:Content>
