﻿<%@ Page Title="" Language="C#" MasterPageFile="~/STRT.master" AutoEventWireup="true" CodeBehind="contactus.aspx.cs" Inherits="project1.contactus" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ABC" runat="server">
    <br />
    <table style="width: 93%; height: 141px;">
        <tr>
            <td colspan="2" style="background-color: #333333; font-size: large; color: #C0C0C0"><center><asp:Label ID="Label1" runat="server" Text="CONTACT DETAILS" Font-Bold="True"></asp:Label></center></td>
        </tr>
        <tr>
            <td style="width: 265px">ADDRESS:</td>
            <td>Ernakulam Public Library<br />
                Library Buildings, Convent Road ,<br />
                Cochin-682035,<br />
                Kerala ,India,<br />
                P.B. No.3212<br />
                Phone: 0484 2351894,2355491</td>
        </tr>
    </table>
    
</asp:Content>
