﻿<%@ Page Title="" Language="C#" MasterPageFile="~/STRT.master" AutoEventWireup="true" CodeBehind="gallery.aspx.cs" Inherits="project1.gallery" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ABC" runat="server">
    <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>
    <asp:Timer ID="Timer1" runat="server" Interval="3000"></asp:Timer>
    <asp:UpdatePanel ID="UpdatePanel1" runat="server">
        <ContentTemplate>
            <asp:AdRotator ID="AdRotator1" runat="server" AdvertisementFile="~/XMLFile1.xml" />
        </ContentTemplate>
    </asp:UpdatePanel>

</asp:Content>
