﻿<%@ Page Title="" Language="C#" MasterPageFile="~/startpage.Master" AutoEventWireup="true" CodeBehind="homepage.aspx.cs" Inherits="project1.homepage" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <center>  <asp:LinkButton ID="LinkButton1" runat="server" PostBackUrl="~/STARTPAGE.aspx">WELCOME TO UR  BOOK WORLD</asp:LinkButton></center>
    <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>
    <asp:Timer ID="Timer1" runat="server" Interval="3000"></asp:Timer>
    <asp:UpdatePanel ID="UpdatePanel1" runat="server">
        <ContentTemplate>
            <asp:AdRotator ID="AdRotator1" runat="server" AdvertisementFile="~/XMLFile1.xml" />
        </ContentTemplate>
    </asp:UpdatePanel>

    </asp:Content>
