﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="index.aspx.cs" Inherits="project1.index" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title> 
    <style type="text/css">
        body{
            background-color:#d8d6d6;
        }
        #lefts{
            width:1130px;
            float:left;
            display:block;
        }
        #rights{
            width:205px;
            float:right;
            display:block;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div style="height: 580px; width: 1138px">
         &nbsp;<div id="right" style="float:right;">
                
                <asp:LinkButton ID="LinkButton1" runat="server" PostBackUrl="~/startpage.aspx" >BACK</asp:LinkButton>

                 </div>

            
        <div id="lefts">
       &nbsp;<p class="discription"> A library is a curated collection of sources of information and similar resources,selected by experts and made accessible to a defined community for reference or borrowing. It provides physical or digital access to material, and may be a physical location or a virtual space, or both.Public and institutional collections and services may be intended for use by people who choose not to—or cannot afford to—purchase an extensive collection themselves, who need material no individual can reasonably be expected to have, or who require professional assistance with their research. </p>
              <p class="description"> Library Management System<br />By using library management system, the operation of borrowing and managing inventories is paperless. This system provides a user-friendly data entry with dropdown button menu, list box and checkbox in purpose to make the input entry easier to understand and use. It is also created to ensure that the library items are stored properly in order to maintain their security.</p>
            &nbsp;<p class="smallnote">
              <b> Enter Into The World Of Learning....!!!Enjoy Reading</b> 
            </p>




            <asp:Panel ID="Panel1" runat="server" BackColor="#cccccc">
              <p  style="background-color:#a1a1a1"><b> Rules Of Registration:</b> </p>
                <p style="font-size: medium; font-weight: bold"> To register and get the benefits of the library</p>

                <table style="width:450px;">
                    <tr>
                        <td>Registration Charges:</td>
                        <td>Rs.3000/-</td>
                    </tr>
                    <tr>
                        <td>In Favour of:</td>
                        <td>Library Deparment</td>
                    </tr>
                    <tr>
                        <td>Address:</td>
                        <td>Akshara Building,<br />kakanad,kerala</td>
                    </tr>
                </table>

            </asp:Panel>
        </div>
        <div id="rights">

        </div>

   
       <img src="images/8b870bae-722b-4256-a378-e21c38f641fb_rw_1920.png"style="align-self:center stretch; width: 933px; height: 116px;" /></div>
    </form>
</body>
</html>
