﻿<%@ Page Title="" Language="C#" MasterPageFile="~/nestedadmin.master" AutoEventWireup="true" CodeBehind="issuereprt.aspx.cs" Inherits="project1.issuereprt" %>
<asp:Content ID="Content1" ContentPlaceHolderID="e" runat="server">
    <div style="background-color:#6b5c5c;">
       
    <center>
            <asp:Label ID="issuehead" runat="server" Text="VIEW BOOK" Font-Bold="True" Font-Size="Large" ForeColor="#FFFFCC"></asp:Label>

        </center>
        </div>
    <div>

        <br />
        <table class="auto-style1">
            <tr>
                <td class="auto-style4" style="width: 101px">
                    &nbsp;</td>
                <td>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
            </tr>
        </table>

    </div>
    <br />
    <asp:GridView ID="GridView1" runat="server">
    </asp:GridView>
</asp:Content>
