﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="login.aspx.cs" Inherits="project1.login" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>

    <style type="text/css">
        body{
            background-color:#d8d6d6;
            height: 556px;
            width: 1058px;
        }
        #lefts{
            width:1130px;
            float:left;
            display:block;
        } 
        .myt
        { 
            color:black;
            width:450px;
            text-align:left;
            
            border-radius:12px;
            opacity:80;
            padding:10px;
            font-size:medium;
            font-weight:500;
            font-family:'Palatino Linotype';
             
        }
        /*.conto input[type="text"],input[type="password"],input[type="label"]
        {
             border-radius:7px;
            border-style:groove;
            padding-left:15px;
            margin-top:15px;
            height:20px;
            box-shadow:0px 0px 5px #333;
            outline:none;
            border:1px solid #ffa853;
           

        }
        .conto input[type="submit"]{
            border-radius:8px;
            border-style:groove;
            font-size:medium;
            margin-top:15px;
            background-color:#2762f7;
            color:black;
            height:30px;
            width:100px;
        }
        .lab{
            margin-top:15px;
        }*/

    .auto-style2 {
        }
    .auto-style3 {
        width: 180px;
    }
     

        #form1 {
            height: 391px;
        }
     #pnlReg{
         float:right;
     }

    </style>
</head>
<body>
    <form id="form1" runat="server">
     

          <div id="lefts">
       <img src="images/8b870bae-722b-4256-a378-e21c38f641fb_rw_1920.png"style="align-self:center stretch; width: 100%; height: 116px;" />
              </div>
        <div  class="myt" style="width:440px; display:block;float:left; height: 207px;">
        <asp:Panel ID="Panel1" runat="server">
            <table class="auto-style1" style="height: 165px; width: 100%">
                <tr>
                    <td class="auto-style3">
                        <asp:Label ID="Username" runat="server" Text="Username"></asp:Label>
                    </td>
                    <td>
                        <asp:TextBox ID="Textuser" runat="server"></asp:TextBox>
                        <asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server" ControlToValidate="Textuser" ErrorMessage="feild is empty" Enabled="false" ForeColor="Red"></asp:RequiredFieldValidator>
                    </td>
                </tr>
                <tr>
                    <td class="auto-style3">
                        <asp:Label ID="Label2" runat="server" Text="Password"></asp:Label>
                    </td>
                    <td>
                        <asp:TextBox ID="Textpass" runat="server"></asp:TextBox>
                        <asp:RequiredFieldValidator ID="RequiredFieldValidator2" runat="server" ControlToValidate="Textpass" ErrorMessage="feild is empty" Enabled="false" ForeColor="Red"></asp:RequiredFieldValidator>
                    </td>
                </tr>
                <tr>
                    <td class="auto-style3" colspan="2">

                        <asp:RadioButtonList ID="RadioButtonList1" runat="server" AutoPostBack="True" RepeatDirection="Horizontal" Width="298px">
                            <asp:ListItem Value="1">admin</asp:ListItem>
                            <asp:ListItem Value="2">user</asp:ListItem>
                        </asp:RadioButtonList>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <asp:Button ID="Button1" runat="server" BackColor="#999999" BorderColor="#000066" BorderStyle="Groove" Font-Bold="True" Font-Size="Medium" OnClick="Button1_Click" Text="LOG IN" />
                    </td>
                </tr>
            </table>

        </asp:Panel>

    </div>

   <div id="reg" style="display:block;width:273px; padding-left:20px;height:193px; border-radius:12px;margin-left:470px;" class="myt">
      
       <asp:Panel ID="pnlReg" runat="server" Height="188px" >
           <table class="auto-style1">
               <tr>
                   <td class="auto-style2" colspan="2">
                       <center>
                           <asp:Image ID="Image1" runat="server" Height="123px" ImageUrl="~/images/images (1).jpg" Width="199px" />
                       </center>
                   </td>
               </tr>
               <tr>
                   <td>&nbsp;&nbsp;</td>
                   <td style="color:whitesmoke;font-style:italic;"><marquee><b>Register Here</b></marquee></td>
               </tr>
                <tr>
                   <td>&nbsp;&nbsp;</td>
                   <td>
                       <asp:Button ID="Button2" runat="server" BackColor="#999999" BorderColor="#000066" BorderStyle="Groove" Font-Bold="True" Font-Size="Medium" OnClick="Button2_Click" Text=" REGISTER" />
                       <br />

                   </td>
               </tr>
           </table>



       </asp:Panel>

   </div>
        <div>
            <a href="homepage.aspx">BACK TO HOME</a>
        </div>
    </form>
</body>
</html>
