﻿<%@ Page Title="" Language="C#" MasterPageFile="~/studentmaster.Master" AutoEventWireup="true" CodeBehind="myaccount.aspx.cs" Inherits="project1.myaccount" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="def" runat="server">
    <div style="background-color:#6b5c5c;">
       
    <center>
            <asp:Label ID="bookhead" runat="server" Text="MY ACCOUNT" Font-Bold="True" Font-Size="Large" ForeColor="#FFFFCC"></asp:Label>

        </center>
        </div>
    <div>
        <center><asp:Button ID="Button1" runat="server" Text="VIEW ACCOUNT" PostBackUrl="~/viewaccount.aspx"></asp:Button>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <br />
            <br />
            <asp:Button ID="Button5" runat="server" PostBackUrl="~/editaccount.aspx" Text="EDIT ACCOUNT" />
            <br />
            <br />
            <asp:Button ID="Button6" runat="server" Text="CHANGE PASSWORD" PostBackUrl="~/changepwd.aspx" />

        </center>
    </div>
</asp:Content>
