﻿<%@ Master Language="C#" MasterPageFile="~/startpage.Master" AutoEventWireup="true" CodeBehind="Nestedstartpage.master.cs" Inherits="project1.Nestedstartpage" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    
</asp:Content>

