﻿<%@ Page Title="" Language="C#" MasterPageFile="~/nestedadmin.master" AutoEventWireup="true" CodeBehind="penalty.aspx.cs" Inherits="project1.penalty1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="e" runat="server">
     <div style="background-color:#6b5c5c;">
       
    <center>
            <asp:Label ID="issuehead" runat="server" Text="PENALTY" Font-Bold="True" Font-Size="Large" ForeColor="#FFFFCC"></asp:Label>

        </center>
        </div>
    <div style="height: 230px">

        <table class="auto-style1" style="height: 228px">
            <tr>
                <td style="width: 224px">
                    <asp:Label ID="Label2" runat="server" Text="STUDENT ID"></asp:Label>
                </td>
                <td>
                    <asp:DropDownList ID="DropDownList1" runat="server" OnSelectedIndexChanged="DropDownList1_SelectedIndexChanged">
                    </asp:DropDownList>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
            </tr>
            <tr>
                <td style="width: 224px">
                    <asp:Label ID="Label7" runat="server" Text="BOOK NAME"></asp:Label>
                </td>
                <td>
                    <asp:DropDownList ID="bookname" runat="server" AutoPostBack="True" >
                    </asp:DropDownList>
                </td>
            </tr>
            <tr>
                <td style="width: 224px">
                    <asp:Label ID="Label3" runat="server" Text="STUDENT NAME"></asp:Label>
                </td>
                <td>
                    <asp:TextBox ID="stdname" runat="server"></asp:TextBox>
                </td>
            </tr>
            <tr>
                <td style="width: 224px">
                    <asp:Label ID="Label4" runat="server" Text="BRANCH"></asp:Label>
                </td>
                <td>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <asp:TextBox ID="branch" runat="server"></asp:TextBox>
                    </td>
            </tr>
            <tr>
                <td style="width: 224px">
                    <asp:Label ID="Label8" runat="server" Text="FINE"></asp:Label>
                </td>
                <td>
                    <asp:TextBox ID="quant" runat="server"></asp:TextBox>
                </td>
            </tr>
            </table>

    </div>
    <div>
     <center>  
         <br />
         <br />
         <asp:Button ID="Button1" runat="server" Text="ISSUE" OnClick="Button1_Click" />&nbsp;&nbsp;&nbsp;&nbsp;<br />
         <br />
         &nbsp;&nbsp; 
         <asp:Literal ID="Literal1" runat="server"></asp:Literal>
        </center> 
    </div>
</asp:Content>
