﻿<%@ Page Title="" Language="C#" MasterPageFile="~/nestedadmin.master" AutoEventWireup="true" CodeBehind="returnbook.aspx.cs" Inherits="project1.returnbook" %>
<asp:Content ID="Content1" ContentPlaceHolderID="e" runat="server">
     <div style="background-color:#6b5c5c;">
       
    <center>
            <asp:Label ID="issuehead" runat="server" Text="RETURN BOOK" Font-Bold="True" Font-Size="Large" ForeColor="#FFFFCC"></asp:Label>

        </center>
        </div>
    <div style="height: 230px">

        <table class="auto-style1" style="height: 228px">
            <tr>
                <td style="width: 312px">
                    <asp:Label ID="Label2" runat="server" Text="STUDENT ID"></asp:Label>
                </td>
                <td>
                    <asp:DropDownList ID="DropDownList1" runat="server" >
                    </asp:DropDownList>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
            </tr>
            <tr>
                <td style="width: 312px">
                    <asp:Label ID="Label7" runat="server" Text="BOOK NAME"></asp:Label>
                </td>
                <td>
                    <asp:DropDownList ID="bookname" runat="server" >
                    </asp:DropDownList>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <asp:Button ID="Button12" runat="server" Text="SELECT" OnClick="Button12_Click" />
                </td>
            </tr>
            </table>

    </div>
    <div>
     <center>  
         <asp:GridView ID="GridView1" runat="server" >
         </asp:GridView>
         <br />
         <br />
         <asp:Button ID="Button1" runat="server" Text="RETURN" OnClick="Button1_Click"  />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />
         <br />
         <asp:Literal ID="Literal1" runat="server"></asp:Literal>
&nbsp;</center> 
    </div>
</asp:Content>
