﻿<%@ Page Title="" Language="C#" MasterPageFile="~/STRT.master" AutoEventWireup="true" CodeBehind="startpage.aspx.cs" Inherits="project1.startpage1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ABC" runat="server">
    <%--<style>
         #back{
                background-image:url('images/Library-image5.jpg'),url('images/LibraryLIB.jpg'),url('images/unnamed LIB.jpg');
                background-size:100px 200px,100px 200px,400px  500px;
                background-repeat:no-repeat,no-repeat,no-repeat;
                background-position:top right,top left,center;

            }
    </style>--%>
       <div id="back">
         
             <img src="images/unnamed LIB.jpg" >
             
            </div>
</asp:Content>
