﻿<%@ Page Title="" Language="C#" MasterPageFile="~/nestedadmin.master" AutoEventWireup="true" CodeBehind="studentreport1.aspx.cs" Inherits="project1.studentreport1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="e" runat="server">
    <asp:GridView ID="GridView1" runat="server" HorizontalAlign="Left" OnSelectedIndexChanging="GridView1_SelectedIndexChanging">
    </asp:GridView>
</asp:Content>
