﻿<%@ Page Title="" Language="C#" MasterPageFile="~/STUDENTNESTED.master" AutoEventWireup="true" CodeBehind="studbookreport.aspx.cs" Inherits="project1.studbookreport" %>
<asp:Content ID="Content1" ContentPlaceHolderID="G" runat="server">
    <div style="background-color:#6b5c5c;">
       
    <center>
            <asp:Label ID="issuehead" runat="server" Text="BOOK REPORT" Font-Bold="True" Font-Size="Large" ForeColor="#FFFFCC"></asp:Label>

        </center>
        </div>
    <div>
        <asp:GridView ID="GridView1" runat="server"  DataKeyNames="sid" OnSelectedIndexChanged="GridView1_SelectedIndexChanged">
            <Columns>
                <asp:CommandField HeaderText="SELECT" ShowHeader="True" ShowSelectButton="True" />
            </Columns>
        </asp:GridView>
    </div>
    <div>
        <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
        <asp:Literal ID="Literal1" runat="server"></asp:Literal>
        <asp:Literal ID="Literal2" runat="server"></asp:Literal>
    </div>
</asp:Content>
