﻿<%@ Page Title="" Language="C#" MasterPageFile="~/STUDENTNESTED.master" AutoEventWireup="true" CodeBehind="studenthome.aspx.cs" Inherits="project1.studenthome" %>
<asp:Content ID="Content1" ContentPlaceHolderID="G" runat="server">
    <asp:Literal ID="Literal1" runat="server"></asp:Literal>
    </asp:Content>
