﻿<%@ Page Title="" Language="C#" MasterPageFile="~/nestedadmin.master" AutoEventWireup="true" CodeBehind="studentreport.aspx.cs" Inherits="project1.studentreport" %>
<asp:Content ID="Content1" ContentPlaceHolderID="e" runat="server">
    <table class="auto-style1">
        <tr>
            <td class="auto-style4" style="width: 80px">
                <asp:Label ID="Label2" runat="server" Text="BRANCH"></asp:Label>
            </td>
            <td style="width: 167px">
                <asp:DropDownList ID="branch" runat="server" >
                </asp:DropDownList>
            </td>
            <td style="width: 124px">
                &nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
        </tr>
        <tr>
            <td class="auto-style4" colspan="4">
                <asp:Button ID="Button11" runat="server" OnClick="Button11_Click" Text="SELECT" />
            &nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
        </tr>
    </table>
    <br />
    <asp:GridView ID="GridView1" runat="server" OnSelectedIndexChanging="GridView1_SelectedIndexChanging" DataKeyNames="sid">
        <Columns>
            <asp:CommandField  HeaderText="VIEW" ShowSelectButton="True"  />
        </Columns>
       
    </asp:GridView>
    
    
    <br />
    <asp:Literal ID="Literal1" runat="server"></asp:Literal>
    
</asp:Content>
