﻿<%@ Page Title="" Language="C#" MasterPageFile="~/STUDENTNESTED.master" AutoEventWireup="true" CodeBehind="viewaccount.aspx.cs" Inherits="project1.viewaccount" %>
<asp:Content ID="Content1" ContentPlaceHolderID="G" runat="server">
    <div style="background-color:#6b5c5c;">
       
    <center>
            <asp:Label ID="bookhead" runat="server" Text="VIEW ACCOUNT" Font-Bold="True" Font-Size="Large" ForeColor="#FFFFCC"></asp:Label>

        </center>
        </div>
  <center> <asp:DetailsView ID="DetailsView1" runat="server" Height="195px" Width="245px">
    </asp:DetailsView></center> 
</asp:Content>
